[branch]
  autosetuprebase = always
[color]
  ui = true
[core]
  excludesfile = ~/.ignore
  editor = nvim
  whitespace = warn
[help]
  autocorrect = 10
[interactive]
  singlekey = true
[merge]
  summary = true
[merge "bundlelock"]
  name = lock Gemfile
  driver = bundle install
[merge "bundle"]
  name = bundle
  driver = bundle
[push]
  default = tracking
[rebase]
  autosquash = true
[diff]
  algorithm = patience
[fetch]
  prune = true
[github]
  user = plicjo
[user]
	email = plicjo@gmail.com
	name = Joshua Plicque
[rerere]
  enabled = true
[include]
	path = ~/.gitconfig.local
[alias]
  lb = !git reflog show --pretty=format:'%gs ~ %gd' --date=relative | grep 'checkout:' | grep -oE '[^ ]+ ~ .*' | awk -F~ '!seen[$1]++' | head -n 20 | awk -F' ~ HEAD@{' '{printf(\"  \\033[33m%s: \\033[37m %s\\033[0m\\n\", substr($2, 1, length($2)-1), $1)}'
[init]
	defaultBranch = main
